body{
  margin: 0px;
  padding: 0px;
  }
  .menu{
  height: 60px;
  background-color: red;
  padding-top: 11px;
  }
  .menu nav ul li{
  display: inline-block;
  }
  .menu nav ul li .name{
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  margin-left: 35px;
  padding: 3px 7px;
  }
  
  .menu nav ul li .name:hover{
  color: red;
  background-color: #fff;
  transition: all 2s;
  }
  